<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
    <li>{{this.title}} - ${{this.price}}</li>
    {{/each}}
   <br></br>
   <button onclick="window.location.href='/products'">Detalle de Productos</button>
    <button onclick="window.location.href='/realTimeProducts'">Agregar Productos</button>
    <button onclick="window.location.href='/verUsuarios'">Ver Usuarios</button>
    <button onclick="window.location.href='/carts'">Ver Carrito</button>
</ul>

{{!-- <h1>Bienvenido a nuestra tienda</h1>
<nav>
    <a href="/products">Ver Productos</a>
    <a href="/realtimeproducts">Agregar Productos</a>
    <a href="/carts/66e8ffe277186cd85d69378d">Ver Carrito</a>
</nav> --}}