<h1>Home Page</h1>
<hr>
{{>menu}}

<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
    <li>{{this.title}} - ${{this.price}}</li>
    {{/each}}
    <br></br>
    <button onclick="window.location.href='/products'">Ver Productos </button>
    <button onclick="window.location.href='/realTimeProducts'">Editar Productos en DB</button>
    <button onclick="window.location.href='/verUsuarios'">Ver Usuarios</button>
    <button onclick="viewCart()">Ver Carrito</button>
    <script>
        function getCurrentUser() {
            return fetch('/api/sessions/current', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
                .then(response => {
                    if (!response.ok) {
                        if (response.status === 401) {
                            alert('No estás autorizado. Inicia sesión primero.')
                            window.location.href = '/login'
                            return null
                        }
                        throw new Error(`HTTP error! status: ${response.status}`)
                    }
                    return response.json()
                })
                .then(data => data ? data.datosUsuario : null)
                .catch((error) => {
                    console.error('Error al obtener los datos del usuario:', error)
                    return null;
                })
        }



        function viewCart() {
            getCurrentUser().then(usuario => {
                if (!usuario) {
                    console.log('No hay usuarios logueados.')
                    return; 
                }
                const cartId = usuario.cart
                console.log("Cart ID:", cartId)
                window.location.href = `/carts/${cartId}`
            })
                .catch((error) => {
                    console.error('Error al visualizar el carrito:', error.message)
                });
        }


    </script>
</ul>