<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
    <li>{{this.title}} - ${{this.price}}</li>
    {{/each}}
   <br></br>
    <button onclick="window.location.href='/realTimeProducts'">Agregar Productos</button>
    <button onclick="window.location.href='/verUsuarios'">Ver Usuarios</button>
    <button onclick="window.location.href='/cart'">Ver Carrito</button>
</ul>