<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
    <li>{{this.title}} - ${{this.price}}</li>
    {{/each}}
   <br></br>
   <button onclick="window.location.href='/products'">Ver Productos </button>
    <button onclick="window.location.href='/realTimeProducts'">Editar Productos en DB</button>
    <button onclick="window.location.href='/verUsuarios'">Ver Usuarios</button>
    <button onclick="window.location.href='/carts/66f0e892bb01b7aa10d33ade'">Ver Carrito</button>
</ul>