<h2>Datos de Perfil</h2>
<hr>
{{>menu}}
<p>Nombre completo: <strong>{{datosUsuario.first_name}} {{datosUsuario.last_name}}</strong></p>
<p>Correo electronico: <strong>{{datosUsuario.email}}</strong></p>