<h1>Lista de Usuarios</h1>
<ul>
    {{#each users}}
    <li>Nombre de usuario: {{name}} - E-mail: {{mail}}</li>
    {{/each}}
   <br></br>
    <button onclick="window.location.href='/realTimeProducts'">Agregar Productos</button>
    <button onclick="window.location.href='/'">Volver a Home</button>
</ul>